name: Github Actions Example

on:
  pull_request:
  push:
    branches: 
      - master
      - develop

jobs:
  test:
    name: Running Units Tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install
      run: npm install
    - name: Test
      run: npm run unit
    - name: e2e
      run: npm run e2e
    - name: "Import results to Xray"
      uses: mikepenz/xray-action@v1.1.2
      with:
         username: ${{ secrets.JIRA_USERNAME }}
         password: ${{ secrets.JIRA_PASSWORD }}
         xrayCloud: "false"
         xrayBaseUrl: "https://asd-tangle.atlassian.net/"
         testFormat: "nunit"
         testPaths: "**/test/e2e/reports/*.xml"
         testExecKey: "ESM-101"
         projectKey: "ESM"
         testExecutionJson: "info.json"


